body {
  margin: 0px; font-family: sans-serif;
}
.desktop-nav {
  height: 60px; background: rgb(51, 51, 51); color: rgb(255, 255, 255); padding: 8px;
}
.mobile-menu-button {
  display: none; background: rgb(0, 102, 170); color: rgb(255, 255, 255); padding: 12px;
}
main {
  padding: 16px;
}
@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}
